#backdrop {
    background-image: url(../Images/inside-car.png);
    background-size: cover;
}

#wire-box-fig {
left: 77%;
top: 60.5%;
width: 3.5%;
}

#power-button-fig {
  left: 81.5%;
  top: 60.5%;
  width: 2%;
}
