#backdrop {
    background-image: url(../Images/Clearing-drawn.png);
    background-size: cover;
}

#hut-path-fig {
    left: 58%;
    top: 64%;
    width: 10%;
}

#car-path-fig {
    left: 13.5%;
    top: 66%;
    width: 10%;
}

#bag-fig {
    left: 45%;
    top: 82%;
    width: 8%;
}

#phone-fig {
    left: 47%;
    top: 82%;
    width: 5%;
}