#backdrop {
    background-color: black;
    max-width: 1000px;
    height: 75%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: 100px;
}

#ending-text {
    margin: 8%;
}

html {
    color: white;
}

h1 {
    text-align: center;
}

p {
    font-size: large;
}

