/* #backdrop {
    background-color: black;
    max-width: 1000px;
    height: 75%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: 100px;
} */

html {
    color: white;
}

h1 {
    text-align: center;
}

p {
    font-size: large;
    margin: 8%;
}

#thank-you{
    display: grid;
    grid-template-columns: 50% 50%;
}

#thank-text {
    grid-column: 1;
}

#menu-click {
    grid-column: 2;
    justify-self: end;
}

