#power-line-start {
    top: 20%;
}

#power-line-end {
    left: 97.5%;
    top: 60%;
    z-index: 3;
}

#ignition-line-start {
    top: 60%
}

#ignition-line-end {
    left: 97.5%;
    top: 20%;
    z-index: 3;
}