#hub {
    position: absolute;
    width: 100%;
}

.stage {
    position: relative;
}

#power-line-start {
    top: 20%;
}

#power-line-end {
    left: 94%;
    top: 60%;
    z-index: 3;
    transform: rotate(180deg);
}

#ignition-line-start {
    top: 60%
}

#ignition-line-end {
    left: 94%;
    top: 20%;
    z-index: 3;
    transform: rotate(180deg);
}

.plug-fig {
    width: 4%;
}

.start {
    left: 2.6%;
}