#backdrop {
    background-image: url("../Images/inside-hut.png");
    background-repeat: round;
    background-size: contain;
}

#locker-fig {
    left: 12%;
    width: 17%;
    top: 36%;
}

#desk-fig {
    width: 30%;
    top: 56%;
    left: 53%;
}

#cellar-fig {
    width: 20%;
    left: 32%;
    top: 50%;
}

#car-battery-fig {
  left: 57%;
  top: 52%;
  width: 6%;
}
