body {
    background-color: rgb(31, 30, 30);
}

#stage {
    position: absolute;
    background-color: black;
    max-width: 1300px;
    height: 50%;
    aspect-ratio: 16/9;
    margin: auto;
    margin-top: 100px;
}

.item {
    margin: auto;
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 10;
}

.inventory {
    display: grid;
    grid-template-columns: repeat(4, 4fr) ;
    position: relative;
    width: 30%;
    height: 8%;
    margin: auto;
    background-color: rgba(71, 71, 71, 0.801);
    margin-bottom: 10px;
    bottom: -90%
}

.inventory-slot {
    height: auto !important;
    border: 1px;
    border-style: solid;
    border-color: grey;
}

.in-inventory {
    left: auto !important;
    top: auto !important;
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
}