body {
    background-color: rgb(31, 30, 30);
}

#backdrop {
    display: grid;
    grid-template-areas:
        "content"
        "ui";
    grid-template-rows: 85% 15%;
    grid-auto-flow: column;
    background-color: black;
    max-width: 1000px;
    height: 50%;
    aspect-ratio: 16/9;
    margin: auto;
}

#portrait {
    position: absolute;
    z-index: 0;
    top: -186%;
    width: 9%;
    left: 2%;
}
p {
    align-self: center;
}

#stage {
    grid-area: content;
    position: relative;
}

.MG-instructions {
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-align: center;
}

#back-button {
    width: 15%;
}

img {
    width: 100%;
    height: auto;
}

.item {
    margin: auto;
    position: relative;
    z-index: 10;
    object-fit: contain;
}

.item:hover {
    filter: contrast(50%);
}

.clickable:hover {
    filter: contrast(70%);
}

figure{
    position: absolute;
    margin: 0px;
}

.inventory {
    grid-area: ui;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    position: relative;
    width: 30%;
    height: 75%;
    margin: auto;
    background-color: rgba(71, 71, 71, 0.801);
    margin-bottom: 0.5%;
}

.inventory-slot {
    display: grid;
    justify-items: center;
    height: auto !important;
    border: 1px;
    border-style: solid;
    border-color: grey;
}

.in-inventory {
    left: auto !important;
    top: auto !important;
    position: relative !important;
    height: auto;
    width: 75%;
}


.dialogue {
    grid-area: ui;
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 20px;
    background-color: rgba(71, 71, 71, 0.801);
    position: relative;
    margin: 0.5%;
}

.dialogue-text {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;
    margin-left: 2%;
    margin-top: 0px;
    overflow: scroll;
    height: 70%;
}

.speaker-heading {
    grid-row: 1;
    grid-column: 1;
    background: rgb(35, 35, 35);
    background: rgb(35, 35, 35);
    color: white;
    width: fit-content;
    padding: 6px;
    border-radius: 20px;
    margin: .5%;
}

.continue {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    color: white;
}

#continue-text {
  text-align: end;
  margin-right: 6%;
}

#axe {
    width: 60%;
}

.inventory-slot #axe{
    width: 50%;
}

.inventory-slot #phone{
    width: 72%;
}
