#backdrop {
    background-image: url("../Images/Ranger-hut.jpg");
    background-repeat: round;
    background-size: contain;
}

#axe{ 
    transform: rotate(-90deg);
}

#axe-fig {
    width: 6%;
    left: 30%;
    top: 78%;
}

#ranger-door-fig {
  left: 44.5%;
  top: 64%;
}

#ranger-door {
    width: 71% !important;
}