#backdrop {
    background-image: url("../Images/rangers-hut.png");
    background-repeat: round;
    background-size: contain;
}

#axe-fig {
    left: 31%;
    top: 80%;
}

#ranger-door-fig {
  left: 40.3%;
  top: 68.8%;
  width: 5.8%;
}